ion-button {
    color: #ffffff;
    --background: #292f5b;
    border-radius: 30px;
    padding: 0px;
    margin: 10px auto; 
    width: 90%; 
    text-align: center;
    transition: transform 0.3s ease-in-out;
}